@import url("https://use.typekit.net/ysk5vua.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-primary: "letter-gothic-std", monospace;
  --color-primary: 252 252 248;
  --color-secondary: 33 33 33;
  --color-faded: 154 152 152;
  --color-scroll: 33, 33, 33;
  --color-focus: 154, 152, 152;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: rgba(var(--color-scroll), 0.2);
  margin-block: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-scroll), 1);
  width: 1rem;
  height: 1rem;
  border: none;
}

@supports (scrollbar-color: #ccc #fff) {
  & > * {
     scrollbar-color: #ccc #fff;
     scrollbar-width: thin;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
